body {
  font-weight: 300;
}

img {
  margin: auto;
  max-width: 70%;
  min-width: 170px;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
}

li:hover,
span > svg:hover,
a:hover,
a > h5:hover {
  color: red;
}

#root,
.loading-spinner {
  text-align: center;
}

.review-list-container {
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, minmax(13.125rem, 1fr));
  grid-row-gap: 3rem;
  width: 90vw;
  height: auto;
  padding: 0.75rem;
}

.review-list-divider {
  position: relative;
  left: calc(50% - 12.5rem);
  width: 25rem;
  margin: 2.5rem 0rem;
}

.creator, .review-list-title {
  padding-top: 6.25rem;
}

.creator-type {
  color: #808080;
}

.genre-page-filter {
  padding: 6.25rem 3.5rem 0rem 2rem;
  text-align: left;
}

.genre-page-filter > p {
  display: inline-block;
  padding: 0.625px;
}

.genre-page-filter > ul,
li {
  display: inline-block;
  list-style-type: none;
}

.genre-page-filter-item {
  margin: 0.5rem 1.25rem;
}

.review-text-container {
  padding-top: 6.25rem;
  height: 100%;
  display: grid;
  background: #f8f8f8;
}

.review-text-panel {
  display: grid;
  grid-template-columns: 8fr 4fr 2fr;
  align-items: center;
  background: #ffffff;
  padding: 2.5rem 2.5rem 3.75rem;
  margin: 0rem 6.25rem 2.5rem 6.25rem;
}

.review-text-artist-title {
  padding: 0rem 4rem;
}

.review-text-artist {
  font-family: 'Montserrat', sans-serif;
}

.review-text-title {
  font-family: 'Libre Baskerville', serif;
  font-size: 3rem;
}

.review-text-image {
  padding: 1rem 1rem;
}

.review-text-image > h6 {
  margin: 0rem;
  color: #b3b3b3;
}

.review-text-score {
  max-width: 6.25rem;
  color: red;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  display: inline-grid;
}

.review-text-score-number {
  padding: 1.25rem 0.625rem;
}

.review-text-score-normal,
.review-text-score-bnm {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 50% 0%;
  border-radius: 50%;
  line-height: 0;
  font-size: 2.5rem;
}

.review-text-score-normal {
  border: 0.5rem solid black;
  color: black;
}

.review-text-score-bnm {
  border: 0.5rem solid red;
  color: red;
}

.review-text-bnm-label {
  text-align: center;
  padding-left: 1.25rem;
  margin: 0.5rem;
}

.review-text-body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 0rem 6.25rem;
  text-align: left;
}

.review-text-pub-date,
.review-text-author-type {
  color: #b3b3b3;
}

.review-text-genre {
  margin: 0.625rem 0rem;
}

.review-text-genre-list {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.review-text-by {
  font-family: 'Montserrat', sans-serif;
  margin: 0rem 1rem 0rem 0rem;
}

.review-text-author {
  margin-top: 0.6rem;
  margin-bottom: 0rem;
}

.review-text-author-type {
  margin-top: 0rem;
}

.review-text-text {
  padding: 0rem 0rem 6rem 0rem;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 600px) {
  .review-text-container {
    padding: 1.5rem 1.5rem;
  }
  .review-text-panel {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    padding: 0rem;
    margin: 3.25rem 1rem 2rem 1rem;
    background: #f8f8f8;
  }
  .review-text-artist-title {
    grid-column: 1 / span 2;
  }
  .review-text-artist {
    margin: 0rem;
    font-size: 2rem;
  }
  .review-text-title {
    margin: 0rem;
    padding: 0rem 1rem;
    font-size: 2rem;
  }
  .review-text-title > i {
    font-size: 80%;
  }
  .review-text-image {
    text-align: left;
  }
  .review-text-pub-date {
    margin-top: 0rem;
  }
  .review-text-text {
    padding: 0.4rem 0rem 6rem 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .review-text-body {
    margin: 0rem 1rem;
  }
}
