h3 {
  text-align: left;
  margin-left: 20px
}

img {
  width: 160px;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #3f51b5;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: repeat(5, auto)
}

.grid-item {
  max-width: 120px;
  height: auto;
  margin: 40px;
}

.review-list {
  margin: 100px;
}