body {
  font-family: Helvetica;
  font-weight: 200;
}

h3 {
  text-align: left;
  margin-left: 20px
}

img {
  margin: auto;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
}

.grid-item a:hover {
  color: #3f51b5;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: repeat(5, auto);
}

.grid-item {
  text-align: center;
  max-width: 120px;
  height: auto;
  margin: 40px;
}

.grid-item-colors {
  text-align: center;
  max-width: 80px;
  height: auto;
  text-align: center
}

.review-list {
  margin: 100px;
}

.author-type {
  text-align: center;
  color: gray;
}

.review-text-container {
  display: grid;
  background: #eee;
}

.review-text-panel {
  background: #ffffff;
  display: grid;
  grid-template-columns: 4fr 2fr 1fr;
  grid-auto-rows: minmax(250px, auto);
  align-items: center;
  justify-items: center;
  margin: 6em 2em 0em 2em;
}

.review-text-artist, .review-text-image {
  text-align: center;
}

.review-text-title {
  font-family: Georgia;
}

.review-text-image-cover {
  padding: 1em;
  max-width: 75%;
  height: auto;
}

.review-text-body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  justify-items: center;
  margin: 2em 2em 0em 2em;
  padding-bottom: 7em;
}